<h2>Styles 新規会員登録</h2>

<%= form_with model:@user, url: new_user_registration_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, :placeholder => "ユーザー名" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, :placeholder => "メールアドレス", autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, :placeholder => "パスワード(6文字以上)", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, :placeholder => "パスワード(確認用)", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
<div>新規登録済みの方は<%= render "devise/shared/links" %>からログイン</div>

