<div class="container-fuild">
  <h2 class="my-4 py-3 text-center text-white bg-dark">フォローされているユーザー</h2>
</div>
<div class="container bg-light">
  <% @users.each do |user| %>
    <div class="row justify-content-center border-bottom">
      <div class="col-3 mx-0 my-4 text-center">
        <div class="profile-icon">
          <%= link_to user_path(user) do %>
            <%= attachment_image_tag user, :image, size: "60x60", fallback: "no_image.jpeg" %>
          <% end %>
        </div>
      </div>
      <div class="col-3 mx-0 my-4 text-center align-self-center">
        <%= link_to user_path(user) do %>
          <%= user.name %>
        <% end %>
      </div>
      <div class="col-3 mx-0 my-4 text-center align-self-center">
        <%= link_to followers_user_path(user) do %>
          <%= user.followers.count %>フォロー
        <% end %>
        <%= link_to followers_user_path(user) do %>
          <%= user.followeds.count %>フォロワー
        <% end %>
      </div>
      <div class="col-2 mx-0 my-4 text-center align-self-center">
        <% if user != current_user %>
          <% if user.is_followed_by?(current_user) %>
            <%= link_to user_relationships_path(user), method: :delete do %>
              <button class="btn btn-secondary">フォロー中</button>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(user), method: :post do %>
              <button class="btn btn-light">フォローする</button>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
