<h2>画像投稿</h2>
<%= form_with model: @post_image, local: true do |f| %>
  <p><%= f.attachment_field :image %></p>
  <p><%= f.text_field :title, placeholder: "タイトル名" %></p>
  <p><%= f.collection_select :genre_id, @genres, :id, :name, {prompt: "ジャンル"} %></p>
  <p><%= f.text_area :introduction, placeholder: "投稿の説明" %></p>
     <%= f.submit "新規投稿" %>
<% end %>


