<!DOCTYPE html>
<html>
  <head>
    <title>Styles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/cb9870c1ab.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <% if user_signed_in? %>
      <li>
        <%= link_to "投稿一覧", post_images_path %>
      </li>
      <li>
        <%= link_to "新規投稿", new_post_image_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to "マイページ", user_path(current_user.id) %>
      </li>
      
    <% else %>
      <li>
        <%= link_to "HOME", root_path %>
      </li>
      <li>
        <%= link_to "ABOUT", about_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
       <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
    <% end %>
        <%= render "searches/form" %>
    <%= yield %>
  </body>
</html>
